[Dd]ebug/
[Rr]elease/
fogworld/Library
fogworld/Packages
fogworld/ProjectSettings
fogworld/Temp
fogworld/UserSettings
fogworld/obj
fogworld/.vs
笔记.md
*.jfif
*.ttf
*.vsconfig
*.log
*.csproj
*.user
*.mp3
*.mp4
*.wav
*.meta
*.png
*.gif
*.jpeg
*.jpg
*.shader
*.cginc
*.prefab
*.asset
*.mat
*.pdf
*.dll
*.config
*.unity
# NuGet Packages Directory
packages